[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
et-xmlfile = "*"
flask = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
numpy = "*"
openpyxl = "*"
pandas = "*"
python-dateutil = "*"
pytz = "*"
six = "*"
werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
